# Игнорируем временные файлы сборки (они весят сотни мегабайт и не нужны в Git)
.pio/
build/
*.tmp
*.log

# Игнорируем системные файлы ОС
.DS_Store
Thumbs.db
desktop.ini

# Игнорируем личные настройки VS Code (если хочешь делиться проектом)
.vscode/